<!--Start sidebar-wrapper-->
<div id="sidebar-wrapper" class="bg-theme bg-theme2" data-simplebar="" data-simplebar-auto-hide="true">
    <div class="brand-logo">
        <a href="#">
            <h5 class="logo-text">PnhCMS Admin</h5>
        </a>
    </div>
    
    <ul class="sidebar-menu do-nicescrol">

        <li><a href="/Course/Index"> Course</a></li>
        <li><a href="/Subject/Index"> Subject</a></li>
        <li><a href="/Grade/Index"> Grade</a></li>
        <li><a href="/Teacher/Index"> Teacher</a></li>
        <li><a href="/Student/Index"> Student</a></li>
       
        <li><a href="/StudentEnrollment/Index"> Student Enrollment</a></li>
        <li><a href="/Subject/GetSubjectDetails"> Subject Detail List</a></li>
        <li><a href="/Course/GetCourseDetails"> Course Detail List</a></li>
        

        

        
    </ul>

</div>
<!--End sidebar-wrapper-->